body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button:focus,
input:focus {
	@apply outline-none;
}

.btn {
	@apply px-4 py-2 rounded-md cursor-pointer font-medium transition-colors duration-200;
}

.btn-circle {
	@apply w-10 h-10 rounded-full cursor-pointer font-medium text-gray-500;
}

.btn + .btn {
	@apply ml-4;
}

.btn-circle + .btn-circle {
	@apply ml-2;
}

.btn--block {
	@apply w-full;
}

.input {
	@apply border py-1 px-2 rounded-md bg-gray-50 
	focus:bg-white focus-within:border-blue-400;
}

.input--block {
	@apply w-full;
}

.input--error {
	@apply border-rose-500 focus-within:border-rose-500;
}

.form-control + .form-control {
	@apply mt-4;
}

.nav_avatar {
	@apply w-10 h-10 cursor-pointer object-cover absolute pointer-events-none;
}

.nav__logout {
	display: none;
}

.nav__logout:hover {
	display: block;
}

.profile-form__body {
	width: 80%;
	min-width: 25rem;

	@apply border-2 rounded-xl border-gray-300;
}

.profile-form__control {
	@apply flex justify-between space-x-4 px-10 py-5;
}

.profile-form__control + .profile-form__control {
	@apply border-t-2;
}
